.section.black
  .row
    %footer#footer
      .container-fluid
        .col.s12.center-align
          %br
          %br
          %br
          %h5.white-text SVJ Photography
          %a= link_to "Home", root_path, class: 'white-text'
          |
          %a= link_to "Gallery", gallery_path, class: 'white-text'
          |
          %a= link_to "Scot", scot_path, class: 'white-text'
          |
          %a= link_to "Vlad", vlad_path, class: 'white-text'
          |
          %a= link_to "Justin", justin_path, class: 'white-text'
          |
          %a= link_to "Contact", contact_path, class: 'white-text'