<div class="section black">
  <div class="row">
    <footer class="footer">
      <div class="container-fluid">
        <div class="col s12 center-align">
          <a>
            <%= link_to "Home", root_path, class: 'white-text' %>
          </a>
          |
          <a>
            <%= link_to "Gallery", gallery_path, class: 'white-text' %>
          </a>
          |
          <a>
            <%= link_to "Scot", scot_path, class: 'white-text' %>
          </a>
          |
          <a>
            <%= link_to "Vlad", vlad_path, class: 'white-text' %>
          </a>
          |
          <a>
            <%= link_to "Justin", justin_path, class: 'white-text' %>
          </a>
          |
          <a>
            <%= link_to "Contact", contact_path, class: 'white-text' %>
          </a>
        </div>
      </div>
    </footer>
  </div>
</div>
